services:
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak-dev
    command: start-dev
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    ports:
      - "8082:8080"
